/* TransactionHistory.module.css */
.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

thead {
  background-color: #666; /* Сірий колір для першого рядка */
}

.headerCell, .cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; 
  vertical-align: middle;
}

.headerCell {
  background-color: #666; /* Сірий колір для заголовка */
  color: #fff; /* Білий колір тексту для кращої контрастності */
  font-weight: bold;
  font-size: 16px;
}

.cell {
  font-size: 14px;
  color: #666;
}

.row:nth-child(even) {
  background-color: #f9f9f9;
}

.row:hover {
  background-color: #e2e2e2; 
}
